<div>
  <label for="name">{{ labelValue }}</label>
  <input type="text" name="name" [(ngModel)]="name" />
  <button (click)="onButtonClick()">Submit</button>
</div>

<div *ngIf="gender && age && country">
  <h3>Results for "{{name}}"</h3>
  <p>Gender: {{ gender.gender }}</p>
  <p>Age: {{ age.age }}</p>
  <p>Country:</p>
  <ul>
    <li *ngFor="let country of country.country | slice:0:3">
      Country ID: {{ country.country_id }} - Probability:
      {{ country.probability | probabilityPercentage }}
    </li>
  </ul>
</div>
